[Unit]
Description=Monitor readsb output and emit MQTT messages to HA
After=network.target

[Service]
Type=simple
User=jdn
Group=jdn
WorkingDirectory=/home/jdn/Code/ADSBMonitor/
ExecStart=/home/jdn/Code/ADSBMonitor/adsbEnv/bin/python /home/jdn/Code/ADSBMonitor/adsbmon/adsbmon.py -c /home/jdn/Code/ADSBMonitor/adsbmon/config.yaml /run/readsb
Restart=on-failure

[Install]
WantedBy=multi-user.target
